$navbar-color: #b81d1d;
$font-color: #FFFFFF;
$icon-color: #A6A3A3;
$check-color: #077861;
$header-color: #D6D5D5;
.bloodBankDashboard{
    .heading{
        margin: 1.5rem 0;
    }
    .mainContent{
        .leftPanel{
            width: 18%;
            .BtnDiv{
                align-items: center;
                .btn{
                    width: 80%;
                }
            }
        }
        .rightPanel{
            width: 85%;
            .tableCon{
                height: 90vh;
                .table{
                    .tableBody{
                        .eachRow1{
                            cursor: pointer;
                            .rowText{
                                padding: 0.8rem 0;
                                font-size: 16px;
                            }
                        }
                        .eachRow1:hover{
                            background-color: rgba($color: $header-color, $alpha: 0.3);
                        }
                    }
                }
            }
        }
    }
}