.heading{       
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-top: 0.9rem;
    margin-bottom: 0.9rem;
}
.table{
    background-color: rgb(174, 174, 174);
    
}
.tBody{
    background-color: white;
    cursor: pointer;
}
.container{
    background-color: rgb(220, 218, 218);
}
.left-panel {
    flex: 2;
    width: 30%;
}

.right-panel {
    flex: 7;
    width: 70%
}
.row {
    display: flex;
    height: 100%;
}
.b1{
    border: 4cap;
    border-color: #b81d1d;
    background-color: white;
    color: #b81d1d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 35px;
    border-radius: 5px;
    margin-top: 4.3rem;
    margin-bottom: 2rem;
    cursor: pointer;                
}    
.b2{
    border: 4cap;
    border-color: #b81d1d;
    background-color: white;
    color: #b81d1d;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 70px;
    border-radius: 5px;
    margin: 10px 0px;
    cursor: pointer;                
}  
.logoutBtn{
    width: 100%;
    border: none;
    font-size: 20px;
    color: #b81d1d;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: bold;
    margin-top: 15rem;
    margin-bottom: 2rem;
    margin-left: 0.1rem;
    margin-right: 0.4rem;
    .icon{
        font-size: 25px;
        color: #b81d1d;
        margin-right: 1rem;
    }
}  
.AllBtn{
    border: none;
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 30px;
    border-radius: 5px;
    margin-bottom: 1rem;
    margin-left: 45rem;
    cursor: pointer;  
    .icon{
        font-size: 30px;
        color:black;
    }
}
@media(max-width: 800px){
    
    .heading{
        font-size: 20px;
        width: 60%;
        margin-left: 7rem;
    }
    .left-panel{
        width: 62%;
        .b1{
            flex-direction: column;
            width: 45%;
            font-size: medium;
            margin-left: 2rem;
            margin-bottom: 1rem;
        }
        .b2{
            flex-direction: column;   
            width: 45%;
            font-size: 15px;
            margin-left: 2rem;
        }
        .logoutBtn{
            flex-direction: column;
            margin-top: 1rem;
            margin-left: 10rem;
            font-size: small;
        }
        
    }
    .right-panel{
        width: 62%;
        .AllBtn{
            display: none;
        }
        .table{
            flex-direction: column;
        }
    }
}
@media(max-width: 550px){
    .heading{
        font-size: 20px;
        width: 60%;
        margin-left: 5rem;
    }
    .left-panel{
            .b1{
                flex-direction: column;
                width: 40%;
                font-size: 13px;
                margin-left: 2rem;
                margin-bottom: 1rem;
            }
            .b2{
                flex-direction: column;   
                width: 40%;
                font-size: 13px;
                margin-left: 2rem;
            }
            .logoutBtn{
                flex-direction: column;
                margin-top: 1rem;
                font-size: 11px;
                margin-left: 10rem;
            }
        }
    .right-panel{
        width: 60%;
        .AllBtn{
            display: none;
        }
        .table{
            flex-direction: column;
            font-size: 11px;
        }
    }
}
        
    
