$navbar-color: #b81d1d;
$font-color: #FFFFFF;
$icon-color: #A6A3A3;
$check-color: #077861;
$header-color: #D6D5D5;
.eachDonor{
    position: relative;
    .backBtn{
        background-color: transparent;
        font-size: 30px;
        border: none;
        cursor: pointer;
        margin-top: 0.5rem;
        margin-left: 0.5rem;
    }
    .editProfile{
        position: unset;
    }
    .editProfileContent{
        .upperProfileCon{
            .pictureCon{
                display: flex;
                align-items: center;
                justify-content: flex-start;
                width: 100%;
                .detailCon{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 80%;
                    flex-wrap: wrap;
                    .BtnCon{
                        width: unset;
                        .btn{
                            margin: 0 0.5rem;
                            background-color: transparent;
                            border: none;
                            cursor: pointer;
                            .icon{
                                font-size: 25px;
                            }
                        }
                        .starBtn{
                            .icon{
                                color: $navbar-color;
                            }
                        }
                    }
                }
            }
        }
    }
}

.eachBank{
    .heading{
        margin: 1.5rem 0;
        font-size: 25px;
        font-weight: bold;
    }
}

.adminNotifications{
    .table{
        .tableBody{
            .eachRow{
                cursor: default !important;
                .rowText{
                    padding: 0.5rem !important;
                    .detailsCon{
                        width: unset;
                        justify-content: flex-end;
                        .emailBtn{
                            background-color: $navbar-color;
                            color: $font-color;
                            border: none;
                            padding: 0.7rem 0;
                            font-size: 15px;
                            border-radius: 8px;
                            cursor: pointer;
                            width: 80%;
                        }
                    }
                }
            }
        }
    }
}

.filterBanks{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
    padding-bottom: 3rem;
    .BackButton{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .backBtn{
            background-color: transparent;
            font-size: 30px;
            border: none;
            cursor: pointer;
            margin-top: 1rem;
            margin-left: 1rem;
        }
    }
    .heading{
        width: 100%;
        text-align: center;
        font-size: 25px;
        font-weight: bold;
        margin: 2rem 0;
    }
    .tableCon{
        width: 90%;
        overflow-y: scroll;
        overflow-x: hidden;
        height: 80vh;
        border-radius: 8px;
        .table{
            width: 100%;
            border-radius: 8px;
            .tableHeader{
                width: 100%;
                background-color: $navbar-color;
                border-radius: 8px;
                .headText{
                    padding: 0.9rem 0;
                    font-size: 17px;
                    padding-left: 1rem;
                    color: $font-color;
                }
            }
            .tableBody{
                background-color: $font-color;
                .eachRow1{
                   .rowText{
                        padding: 0.8rem;
                        font-size: 16px;
                        .sendBtn{
                            border: none;
                            background-color: transparent;
                            cursor: pointer;
                            .icon{
                                font-size: 25px;
                                color: black;
                            }
                        }
                    }
                }
                .eachRow1:hover{
                    background-color: rgba($color: $header-color, $alpha: 0.3);
                }
            }
        }
    }
    .tableCon::-webkit-scrollbar-track
    {
        background-color: $font-color;
        border-radius: 5px;
    }
    .tableCon::-webkit-scrollbar
    {
        width: 8px;
        background-color: $icon-color;
        border-radius: 5px;
    }
    .tableCon::-webkit-scrollbar-thumb
    {
        background-color: $icon-color;
        border-radius: 5px;
    }
    @media(max-width: 850px){
        .tableCon{
            .table{
                .tableBody{
                    .eachRow{
                        .rowText{
                            .detailsCon{
                                width: 30%;
                            }
                        }
                    }
                }
            }
        }
    }
    @media(max-width: 530px){
        .tableCon{
            margin: 0 0.7rem;
            overflow: scroll;
            .table{
                width: 650px;
            }
        }
    }
}