$navbar-color: #A81B1B;
$font-color: #FFFFFF;
.navbar{
    background-color: $navbar-color;
    color: $font-color;
    display: flex;
    align-items: center;
    justify-content: space-between;
    // width: 70%;
    margin: 1.2rem 0;
    @media(max-width: 1000px){
        background-color: aqua;
    }
    @media(max-width: 400px){
        background-color: pink;
    }
}
// @media(max-width: 1000px){
//     .navbar{
//         background-color: aqua;
//     }
// }